<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao BlogApp</h1>
  <p class="lead"> Este Blog foi desenvolvido para fins didáticos utilizando as tecnologias, Node.js, Express e MongoDB.</p>
  <hr class="">
  <p>Este Blog contem as melhores novidades do mundo da tecnologia.</p>
  {{!-- <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a> --}}
</div>

<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}
    <div class="card mt-2">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descrição}}</p><br>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small><br>
            <small>Data de publicação: {{data}}</small>
        </div>
    </div>

{{else}}
    <h5>Nenhuma postagem criada.</h5>
{{/each}}